$primary: #0a3d66 !default;
$primary-40: #0a3d6640 !default;
$primary-20: #0a3d6620 !default;
$primary-10: #0a3d6610 !default;
$primary-05: #0a3d6605 !default;
$secondary: #37688c !default;
$neutral: #e8e4e1 !default;
$secondary-40: #37688c40 !default;
$navbar-background-color: white !default;
$family-primary: '"Nunito", sans-serif' !default;
$grey-dark: $secondary !default;
$grey-light: $neutral !default;
$link: $neutral !default;
$control-border-width: 2px !default;
$input-shadow: none !default;
$navbar-height: 4rem !default;
$navbar-item-img-max-height: 3rem !default;
$turquoise:$primary !default;
