$primary: hsl(207, 82%, 22%) ;
$primary-40: #0a3d6640 ;
$primary-20: #0a3d6620 ;
$primary-10: #0a3d6610 ;
$primary-05: #0a3d6605 ;

$inverse-primary-40: hsla(207, 82%, 65%, 0.251) ;
$inverse-primary-20: hsla(207, 82%, 65%, 0.125) ;
$inverse-primary-10: hsla(207, 82%, 65%, 0.063) ;
$inverse-primary-05: hsla(207, 82%, 65%, 0.02) ;
$inverse-primary: #5dadef20;

$secondary: #37688c ;
$neutral: #e8e4e1 ;
$secondary-40: #37688c40 ;
$family-primary: '"Nunito", sans-serif' ;
$grey-dark: $secondary ;
$grey-light: $neutral ;
$link: $neutral ;
$control-border-width: 2px ;
$input-shadow: none ;
$navbar-height: 4rem ;
$navbar-item-img-max-height: 3rem ;
$turquoise:$primary ;
