@use "./variables" as vars;
@use "bulma/sass/utilities" with (
  $primary: vars.$primary,
  $link: vars.$link,
);

@use "bulma/sass/base";
@use "bulma/sass/elements";
@use "bulma/sass/form";
@use "bulma/sass/components";
@use "bulma/sass/layout";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

/*NA PACKAGE JSON FOI CRIADO DOIS SCRIPTS 
    "build-bulma": "sass --load-path=node_modules src/sass/mystyles.scss public/css/mystyles.css",
    "start": "npm run build-bulma -- --watch"
    
RESPECTIVAMENTE, O PRIMEIRO IRÁ APLICAR AS ALTERAÇÕES GERADAS EM sass/mystyles.scss EM  public/css/mystyles.css QUE POR SUA VEZ É O NOSSO DOCUMENTO PRINCIPAL UTILIZADO EM INDEX.HTML, ESTA FORMA LEVA PARA DENTRO DE mystyles.css SOMENTE OS COMPONENTES QUE UTILIZADOS, ASSIM O DOCUMENTO FICA MENOR.

PARA QUE ISSO SEJA FEITO É NECESSÁRIO QUE dependencies EM package.json ESTEJA ASSIM .
 "dependencies": {
    "bulma": "^1.0.0",
    "sass": "^1.72.0"
  },

  BULMA DEVE ESTAR NA SUA VERSÃO MAIS ATUAL E O SASS DEVE ESTAR INSTALADO NA SUA VERSÃO MAIS ATUAL TAMBÉM, APLIQUE NPM INSTALL PARA GERAR AS ATUALIZAÇÕES, SE O CAMPO dependencies NÃO ESTIVER NAS VERSÕES MAIS ATUALIZADAS REESCREVA DENTRO DO ARQUIVO. PARA VERIFICAR O TUTORIAL E AS VERSÕES ATUAIS UTILIZADAS ENTRE EM : https://bulma.io/documentation/customize/with-sass/

  SE TUDO ESTIVER OK, UTILIZE O COMANDO CRIADO npm run build-bulma.
 */
