// Importando suas variáveis e overrides personalizados
@use "./_variables.scss" as vars;
@use "bulma/sass/components/navbar";

.navbar {
  background-color: vars.$navbar-background-color;
  display: flex;
  align-items: center;

  .navbar-item {
    color: vars.$primary; // ou hsl(0, 0%, 29%)
    display: flex;
    align-items: center;
    height:64px;

    &:hover {
      color: vars.$primary;
      background-color: vars.$primary-10;
      border-radius: 4px;
    }

    img {
      max-height: 3.5rem;
    }
  }

  height: 5rem;
}
