@import 'mystyles.scss';

$navbar-background-color: white;
$navbar-item-hover-color: $orange-furg;
$navbar-item-color: white ; //outra cor (hsl(0, 0%, 29%) )
$navbar-item-hover-background-color: #ffffff20;
$navbar-height:5rem;
$navbar-item-img-max-height:3.5rem;




// @import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/utilities/index";
@import "../../node_modules/bulma/sass/base/index";
@import "../../node_modules/bulma/sass/elements/button.scss";
@import "../../node_modules/bulma/sass/elements/content.scss";
@import "../../node_modules/bulma/sass/elements/title.scss";
@import "../../node_modules/bulma/sass/form/index.scss";
@import "../../node_modules/bulma/sass/components/navbar.scss";
@import "../../node_modules/bulma/sass/layout/hero.scss";
@import "../../node_modules/bulma/sass/layout/section.scss";
