// Importando suas variáveis e overrides personalizados
@use "./_variables.scss" as vars;
@use "bulma/sass/components/navbar";

.navbar {
  display: flex;
  align-items: center;

  .navbar-item {
    display: flex;
    align-items: center;
    height:64px;

    &:hover {
      background-color: vars.$primary-20;
      border-radius: 4px;
    }

    img {
      max-height: 3.5rem;
    }
  }

  height: 5rem;
}

@media (prefers-color-scheme: dark) {
 .navbar {
  display: flex;
  align-items: center;

  .navbar-item {
    display: flex;
    align-items: center;
    height:64px;

    &:hover {
      background-color: vars.$inverse-primary;
      border-radius: 4px;
    }}}}