<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
# NÃO reescrever API e WebSocket
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteCond %{REQUEST_URI} !^/ws

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
