.boletimContainer {
  display: grid;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.hasDottedList {
  list-style-type: none;
  padding-left: 1.5rem;
}

.hasDottedList li {
  position: relative;
}

.hasDottedList li::before {
  content: "\2022";
  position: absolute;
  left: -1rem;
}
