.container{
    display:flex;
    height:100vh;
    overflow-x:hidden;
    transition: all .3s ease;
}

.menu_map{
    width:20%;
    transition: all .3s ease;
}
.map{
    width:80%;
}

.fullWidth {
    width: 100%;
}

.hidden {
    display: none;
}

.toggleBtn {
    width: 128px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 27%;
    right: 2%;
    background-color: #000000c2;
    color: #f8a402;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    transition: all .5s ease;
    z-index: 500;
}

.toggleBtn:hover {
    background-color: #f8a402;
    color: white;
}

/* .windyContainer {
    width: 80vw;
    height: 100vh;
} */

iframe {
    width: 80vw;
    height: 100vh;
}