.container{
    display:flex;
    height:100%;
    overflow:hidden;
    transition: all .3s ease;
}

.menu_map{
    width:30%;
    transition: all .3s ease;
}

.map{
    width:70%;
}

.hidden {
    display: none;
}

.windyContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    background-color: white;
    z-index: 9000;
}

iframe {
    width: 100vw;
    height: 92vh;
}

.btnMenu {
    position: absolute;
    width: 8rem;
    height: 4.5rem;
    margin-left: 3rem;
    margin-top: .5rem;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform .5s ease-in-out;
    z-index: 9000;
}

.btnMenu:hover, .btnMenu:focus {
    transform: scale(1.1); 
}

.menuVisible {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.menuHidden {
    transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s;
    opacity: 0;
    visibility: hidden;
}