.container {
  display: flex;
  top: 80px;
  width: 100%;
}

.menu_map {
  width: 30%;
  max-width: 30%;
  min-width: 30%;
}

.map {
  width: 70%;
}

.hidden {
  display: none;
}

iframe {
  width: 100vw;
  height: 92vh;
}

.btnMenu {
  position: absolute;
  width: 8rem;
  height: 4.5rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9000;
}

.centerSat {
  display: block;
  width: 70%;
  margin: 0 auto;
}
