@media (prefers-color-scheme: dark) {
  .container{
    background-color: rgb(20, 22, 26);
   }
   
}

@media (prefers-color-scheme: light) {
  .container{
    background-color: white;
   }
   
}
.container {
  display: flex;
  flex-direction: row;
  z-index: 19300 !important;
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  position: fixed;
}

.containerCard {
  width: 30%;
}

.Card {
  flex: 0 0 auto;
  margin-right: 10px;
}

.close {
  position: absolute;
  top: 2%;
  right: 5%;
}

.containerGraphic {
  width: 42%;
  height: 100%;

}
.GraphicPressure {
  width: 100%;
}
