.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 1em;
  overflow-y: auto;
  max-height: 100vh;
}

.containerItem {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.containerButtonHours,
.containerSelect {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerRadar,
.containerTypeRadar {
  display: grid;
  gap: 8px;
}

/*input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px; 
  position: relative;
  border-radius: 4px; 
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  border: 1px solid #37688c;
  background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #0a3d66;

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px; 
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  opacity: 0;
  content: "\2713"; 
  color: white;
  font-size: 14px; 
  text-align: center;
  line-height: 1; 
  opacity: 1; 
  margin: 0 0 4px 0;
}

input[type="checkbox"]:checked::before {
  opacity: 1; 
}


input[type="checkbox"]::-moz-selection {
  background: transparent;
}

input[type="checkbox"]::selection {
  background: transparent;
}*/

ul li {
  width: 100%;
}
.containerOptionsStations {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
