.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 1em;
  overflow-y: auto;
  max-height: 100vh;
}
.containerItem{
  display:flex;
  flex-direction:column;
  gap:2em
}
.containerButtonHours,
.containerSelect {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.containerRadar,
.containerTypeRadar {
  display: grid;
  gap: 8px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px; /* Ajuste o tamanho do checkbox */
  height: 20px; /* Ajuste o tamanho do checkbox */
  position: relative;
  border-radius: 4px; /* Ajuste o raio das bordas */
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  border: 1px solid #f8a402;
}

input[type="checkbox"]:checked {
  background-color: #f8a402; /* Cor de fundo quando estiver marcado */
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px; /* Tamanho do marcador */
  height: 10px; /* Tamanho do marcador */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px; /* Ajuste o raio do marcador */
  opacity: 0; /* Torna o marcador invisível por padrão */
  content: "\2713"; /* Código unicode para o checkmark */
  color: white; /* Cor do checkmark */
  font-size: 14px; /* Tamanho do checkmark */
  text-align: center;
  line-height: 1; /* Alinha o checkmark verticalmente */
  opacity: 1; /* Mantém o checkmark visível */
  margin: 0 0 4px 0;
}

input[type="checkbox"]:checked::before {
  opacity: 1; /* Torna o marcador visível quando o checkbox está marcado */
}

/* Estilos para o marcador de seleção padrão */
input[type="checkbox"]::-moz-selection {
  background: transparent;
}

input[type="checkbox"]::selection {
  background: transparent;
}

ul li {
  width: 100%;
}

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.toggleSwitch {
  display: flex;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggleSwitch:before, .toggleSwitch:after {
  content: "";
}
.toggleSwitch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggleSwitch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggleCheckbox:checked + .toggleSwitch {
  background: #de790f;
}
.toggleCheckbox:checked + .toggleSwitch:before {
  left: 30px;
}

.toggleCheckbox {
  position: absolute;
  visibility: hidden;
}

.toggleFirstLabel {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.toggleLabel {
  margin-left: 30px;
  position: relative;
  top: 2px;
}