
:root{
  /* #0a3d66 em HSL */
  --bulma-primary-h: 207 !important;
  --bulma-primary-s: 82% !important;
  --bulma-primary-l: 22% !important;
  --bulma-primary-invert-l: 100% !important;
  --bulma-tabs-link-active-border-bottom-color:hsl(207, 82%, 22%) !important;
  --bulma-link-text:hsl(207, 82%, 22%) !important;
  
 
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: white; 

}

@media (prefers-color-scheme: light) {
  input[type='radio']:checked:after , input[type="checkbox"]:checked {
    background-color:hsl(207, 82%, 22%) ;
    border:hsl(207, 82%, 22%)   ;

   }
  }

@media (prefers-color-scheme: dark) {
  body {
    background-color: transparent;
    color: white;
  }
  input[type='radio']:checked:after , input[type="checkbox"]:checked {
    background-color:hsl(207, 82%, 65%) ;
    border:hsl(207, 82%, 65%)  ;

   }
   
  :root{
    --bulma-primary-h: 207 !important;
    --bulma-primary-s: 82% !important;
    --bulma-primary-l: 65% !important;  /* destaque agradável no escuro */
    --bulma-primary-invert-l: 100% !important; /* texto claro em cima do primary */
    /* alinhe link às mesmas coords (opcional) */
    --bulma-link-h: var(--bulma-primary-h) !important;
    --bulma-link-s: var(--bulma-primary-s) !important;
    --bulma-link-l: var(--bulma-primary-l) !important;
    --bulma-tabs-link-active-color: hsl(207,82%,65%) !important;
    --bulma-tabs-link-active-border-bottom-color:hsl(207, 82%, 65%) !important;
    --bulma-link-text:hsl(207, 82%, 65%) !important;
   
  }

  *::-webkit-scrollbar {
  width: 10px;           /* vertical */
  height: 10px;          /* horizontal */
}
  html {
  scrollbar-width: thin; /* auto | thin */
  }
  *::-webkit-scrollbar-thumb {
    background: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
  }
  html {
    scrollbar-color:
      hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l))
      rgba(255, 255, 255, 0.06);
  }}

input[type="checkbox"]::before {
  color: none;
  content:"" !important
}
hr {
  background-color: #37688c !important;
}
label.radio {
  margin: 0 !important;
  display: flex;
  gap: 0.5em;
}

text.marker-text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none; /* Isso impede que o texto interfira com a interatividade do gráfico */
  position: absolute;
  z-index: 5000;
}

.apexcharts-tooltip-marker {
  background-color: black !important;
  border: 1px solid;
}

#SvgjsCircle5961 {
  background-color: black !important;
  fill: black;
  content: "n";
  color: white;
}
.apexcharts-marker .no-pointer-events {
  background-color: black !important;
  fill: black;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 0.5rem !important;
}

.select.is-primary select {
  width: 100%;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* altura da tela inteira */
  width: 100vw; /* largura da tela inteira */

}

.loader-image {
  width: 150px; /* ajuste o tamanho se quiser */
  height: auto;
}
 #nohover:hover{
  background: transparent;
 }