#root {
  font-family: "Lato Regular", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

hr {
  background-color: #37688c !important;
}
label.radio {
  margin: 0 !important;
  display: flex;
  gap: 0.5em;
}

text.marker-text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none; /* Isso impede que o texto interfira com a interatividade do gráfico */
  position: absolute;
  z-index: 5000;
}

.apexcharts-tooltip-marker {
  background-color: black !important;
  border: 1px solid;
}

<<<<<<< HEAD
.apexcharts-marker {
  background-color: black !important;
  fill: #0a3d66 !important;
  content: "a" !important;
  color: white !important;
}
=======

>>>>>>> ALTERAÇÕES DE CONFIGURAÇÕES APÓS TROCA DE VERSIONAMENTO (NODE, NPM, REACT-APEXCHARTS)
#SvgjsCircle5961 {
  background-color: black !important;
  fill: black;
  content: "n";
  color: white;
}
.apexcharts-marker .no-pointer-events {
  background-color: black !important;
  fill: black;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 0.5rem !important;
}

.select.is-primary select {
  width: 100%;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* altura da tela inteira */
  width: 100vw; /* largura da tela inteira */
  background-color: #fff; /* opcional: cor de fundo branca */
}

.loader-image {
  width: 150px; /* ajuste o tamanho se quiser */
  height: auto;
}
